{{#shapes}}
  .icon--{{base}} {
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-image: url('/temp/sprite/css/{{{sprite}}}');  /* 3 brackets to for forward slash */
    background-position: {{position.relative.xy}};
  }
{{/shapes}}